# Data Science Tools and Ecosystem

## Author
Annika Leiseth

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

+ List popular languages for data science
+ List popular libraries for data science
+ List useful tools for data science
+ Demonstrate basic arithmetic

Some of the popular languages that Data Scientists use are:
    1. R
    2. Python
    3. SQL
    4. Julia
    5. Java

Some of the commonly used libraries used by Data Scientists include:
    1. Pandas
    2. NumPy
    3. Matplotlib
    4. TensorFlow
    5. PyTorch

### Data Science Tools
---------------------
Jupyter Notebook
ApacheSpark
IBM Watson Studio

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers.

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [5]:
time_in_minutes = 200
one_hour = 60
time_in_hours = time_in_minutes/one_hour
print(time_in_hours)

3.3333333333333335